.margin-cell {
  &-positive {
    color: var(--success60);
  }

  &-negative {
    color: var(--error60);
  }

  &-unit-letter {
    color: var(--grey50);
  }

  &-unit {
    color: var(--grey30);
    font-size: 10px;
    line-height: 9px;
    text-align: right;

    &-selection {
      display: flex;
      flex-direction: column;
      white-space-collapse: preserve;
    }

    &-active {
      color: var(--grey90);
    }
  }

  &-editable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-value,
  &-input {
    color: rgba(24, 68, 239, 1);
    text-align: right;
    cursor: pointer;
  }

  &-input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}