.margin-cell {
  position: relative;
  display: flex;
  align-items: center;

  &-positive {
    color: var(--success60);
  }
  
  &-negative {
    color: var(--error60);
  }
  
  &-unit {
    color: var(--grey30);
    font-size: 10px;
    line-height: 9px;
    text-align: right;
    width: 100%;
    
    &-selection {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }
    
    &-active {
      color: var(--grey90);
    }
    
    &-letter {
      color: var(--grey50);
    }
  }

  &-input {
    color: rgba(24, 68, 239, 1);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 32px;
    text-align: center;
    background: transparent;
    outline: none;
  }
}
